/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Generics */
body {
	font-family: system-ui, Helvetica, Arial, sans-serif;
}

/* Utilities */
.container {
	max-width: 1000px;
	margin: 0 auto;
}

/* Header */
header {
	background-color: gray;
	& > div {
		padding: 1rem;
		display: flex;
		justify-content: space-between;
	}

	input {
		padding: 0.5rem 1rem;
		border: 1px solid black;
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
	}

	button {
		padding: 0.5rem 1rem;
		border: 1px solid black;
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
		background-color: rgb(255, 225, 225);

		&:hover {
			cursor: pointer;
			background-color: rgb(196, 143, 143);
		}
	}

	a {
		color: rgb(153, 23, 23);
		text-decoration: none;
		&:hover {
			cursor: pointer;
		}
	}
}

/* Movies List */
.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 1rem;
	margin: 1rem -1rem;
}

/* Card */
.card-container {
	width: 330px;
	padding: 1rem;
}

.card {
	border: 1px solid black;
	position: relative;
	height: 500px;
	background-color: black;

	.card-body {
		display: none;
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: black;
		color: white;
		top: 0;
		padding: 1rem;
		max-height: 100%;
	}

	.text-bold {
		font-weight: 700;
	}

	.card-title {
		font-size: 1.2rem;
		text-align: center;
		margin-bottom: 1rem;
	}

	.card-description {
		display: block;
		margin-top: 1rem;
		overflow: scroll;
		max-height: 310px;
	}

	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: fill;
	}

	&:hover .card-body {
		display: block;
		cursor: pointer;
	}
}

/* Movie Detail Page */
.movie-page {
	display: flex;
	margin: 2rem;
	justify-content: space-between;

	.movie-body {
		padding: 2rem;
		& > * + * {
			margin-top: 0.5rem;
		}
	}

	.text-bold {
		font-weight: 800;
	}

	.movie-title {
		font-size: 2rem;
	}
}
