* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: system-ui, Helvetica, Arial, sans-serif;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
}

/* Header */
header {
	background-color: gray;
	& > div {
		padding: 1rem;
		display: flex;
		justify-content: space-between;
	}

	input {
		padding: 0.5rem 1rem;
		border: 1px solid black;
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
	}

	button {
		padding: 0.5rem 1rem;
		border: 1px solid black;
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
		background-color: rgb(255, 225, 225);

		&:hover {
			cursor: pointer;
			background-color: rgb(196, 143, 143);
		}
	}
}

/* Movies List */
.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 1rem;
	margin: 1rem -1rem;
}

/* Card */
.card-container {
	width: 330px;
	padding: 1rem;
}

.card {
	border: 1px solid black;
	.card-body {
		padding: 1rem;
	}

	img {
		width: 100%;
	}
}
